
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

    <th:block th:fragment="file-view">


        <div class="tool-panel">
            <div class="tool-row">
                <div class="tool-col">
                    <div id="format-tool" class="tool button-component">Форматирование</div>
                    <div id="lemma-tool" class="tool button-component">Лемматизация</div>
                    <div id="regex-tool" class="tool button-component">RegEx</div>
                </div>

                <div class="tool-col">
                    <!-- Font -->
                    <div class="tool button-component">
                        <div>Шрифт:</div>
                        <select name="document-font-size" id="document-font-size">
                            <option value="8px">8px</option>
                            <option value="9px">9px</option>
                            <option value="10px">10px</option>
                            <option value="11px">11px</option>
                            <option value="12px">12px</option>
                            <option value="13px">13px</option>
                            <option value="14px">14px</option>
                            <option value="15px">15px</option>
                            <option value="16px">16px</option>
                            <option value="17px">17px</option>
                            <option value="18px" selected>18px</option>
                            <option value="19px">19px</option>
                            <option value="20px">20px</option>
                            <option value="21px">21px</option>
                            <option value="22px">22px</option>
                            <option value="23px">23px</option>
                            <option value="24px">24px</option>
                            <option value="25px">25px</option>
                            <option value="26px">26px</option>
                            <option value="27px">27px</option>
                            <option value="28px">28px</option>
                            <option value="29px">29px</option>
                            <option value="30px">30px</option>
                            <option value="31px">31px</option>
                            <option value="32px">32px</option>
                        </select>
                    </div>
                    <!-- Line Height -->
                    <div class="tool button-component">
                        <div>Высота строки:</div>
                        <select name="document-line-height" id="document-line-height">
                            <option value="8px">8px</option>
                            <option value="9px">9px</option>
                            <option value="10px">10px</option>
                            <option value="11px">11px</option>
                            <option value="12px">12px</option>
                            <option value="13px">13px</option>
                            <option value="14px">14px</option>
                            <option value="15px">15px</option>
                            <option value="16px">16px</option>
                            <option value="17px">17px</option>
                            <option value="18px">18px</option>
                            <option value="19px">19px</option>
                            <option value="20px">20px</option>
                            <option value="21px">21px</option>
                            <option value="22px" selected>22px</option>
                            <option value="23px">23px</option>
                            <option value="24px">24px</option>
                            <option value="25px">25px</option>
                            <option value="26px">26px</option>
                            <option value="27px">27px</option>
                            <option value="28px">28px</option>
                            <option value="29px">29px</option>
                            <option value="30px">30px</option>
                            <option value="31px">31px</option>
                            <option value="32px">32px</option>
                            <option value="33px">33px</option>
                            <option value="34px">34px</option>
                            <option value="35px">35px</option>
                            <option value="36px">36px</option>
                            <option value="37px">37px</option>
                            <option value="38px">38px</option>
                            <option value="39px">39px</option>
                            <option value="40px">40px</option>
                            <option value="41px">41px</option>
                            <option value="42px">42px</option>
                            <option value="43px">43px</option>
                            <option value="44px">44px</option>
                            <option value="45px">45px</option>
                            <option value="46px">46px</option>
                            <option value="47px">47px</option>
                            <option value="48px">48px</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="~{/fragments/components/_regexinput :: regex-input}"></div>

        <th:block th:fragment="file-view-title">
            <h3 id="document-filename">Файл: </h3>
            <h3 id="document-title">Заголовок: </h3>
        </th:block>

        <!-- Tab Navigation Links -->
        <div class="tab-link-row">
            <div id="all-word-tab-link" class="tab-link" onclick="openTab('text-tab', this, 'var(--main-color-dark)')">Текст</div>
            <div id="lemma-tab-link" class="tab-link" onclick="openTab('text-structure-tab', this, 'var(--main-color)')">Структура</div>
            <div id="lemma-tab-link" class="tab-link" onclick="openTab('complainant-defendant-tab', this, 'green')">Истец и ответчик</div>
        </div>

        <!-- Tab Content -->
        <div class="tab-content-row">
            <!-- Text -->
            <div id="text-tab" class="tab-content">
                <pre id="document-text" class="regex-processed">Текст документа</pre>
            </div>

            <!-- Document Structure Parts -->
            <div id="text-structure-tab" class="tab-content">
                
                <div class="accordion">Заголовок</div>
                <div class="panel">
                    <pre id="document-header-text" class="regex-processed"></pre>
                </div>

                <div class="accordion">Установил</div>
                <div class="panel">
                    <pre id="document-found-text" class="regex-processed"></pre>
                </div>
                
                <div class="accordion">Определил</div>
                <div class="panel">
                    <pre id="document-determined-text" class="regex-processed"></pre>
                </div>
                
                <div class="accordion">Постановил</div>
                <div class="panel">
                    <pre id="document-decided-text" class="regex-processed"></pre>
                </div>
                    
                <div class="accordion">Решил</div>
                <div class="panel">
                    <pre id="document-solution-text" class="regex-processed"></pre>
                </div>

            </div>

            <!-- Complainant & Defendant -->
            <div id="complainant-defendant-tab" class="tab-content">
                <div class="tab-link-row">
                    <div class="tab-sub-link" onclick="openTab('document-complainant-defendant-regex-tab', this, 'rgba(99, 117, 176, 0.7)')">RegEx</div>
                    <div class="tab-sub-link" onclick="openTab('document-complainant-defendant-tree-tab', this, 'rgba(99, 117, 176, 0.7)')">Tree</div>
                    <div class="tab-sub-link" onclick="openTab('document-complainant-defendant-graph-tab', this, 'rgba(99, 117, 176, 0.7)')">Graph</div>
                    <a href="/graph"><div class="tab-sub-link sub-accent">Просмотр графа</div></a>
                </div>

                <div id="document-complainant-defendant-regex-tab" class="tab-content">
                    <pre id="document-complainant-defendant-regex-text" class="regex-processed">REGEX</pre>
                </div>

                <div id="document-complainant-defendant-tree-tab" class="tab-content">
                    <pre id="document-complainant-defendant-tree-text" class="regex-processed">TREE</pre>
                </div>

                <div id="document-complainant-defendant-graph-tab" class="tab-content">
                    <pre id="document-complainant-defendant-graph-text" class="regex-processed">GRAPH</pre>
                </div>
            </div>
        </div>

    </th:block>

</body>
</html>