
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <header th:fragment="header">
        <link rel="stylesheet" th:href="@{/css/header.css}"/>
        <div th:class="'container'">
            <div th:class="'wrapper'">

                <div class="header-row">
                    <div class="header-col">
                        <div class="logo">ArbitrageDoc</div>
                    </div>
                    <div class="header-col">
                        <a href="/">
                            <div th:class="(${activePage == 'main'} ? 'button-component-active' : '') + ' button-component'">Документы</div>
                        </a>
                        
                        <a href="/filedata">
                            <div th:class="(${activePage == 'filedata'} ? 'button-component-active' : '') + ' button-component'">Данные документа</div>
                        </a>

                        <a href="/filestatistic">
                            <div th:class="(${activePage == 'filestatistic'} ? 'button-component-active' : '') + ' button-component'">Статистика документа</div>
                        </a>
                        
                        <a href="/title">
                            <div th:class="(${activePage == 'title'} ? 'button-component-active' : '') + ' button-component'">Заголовки</div>
                        </a>

                        <a href="/documenttable">
                            <div th:class="(${activePage == 'documenttable'} ? 'button-component-active' : '') + ' button-component'">Таблица документов</div>
                        </a>

                        
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>