/*#region Root Colors */

:root {
    --main-color: rgb(99, 176, 117);
    --main-color-dark: rgb(77, 147, 89)
}

/*#endregion  */

/* #region Squared Loader */

.loader {
    margin: 100px;
    height: 5px;
    width: 5px;
    color: #333;

    box-shadow: -10px -10px 0 5px,
                -10px -10px 0 5px,
                -10px -10px 0 5px,
                -10px -10px 0 5px;
    animation: loader-animation 6s infinite;
  }

  @keyframes loader-animation {
    0% {
      box-shadow: -10px -10px 0 5px,
                  -10px -10px 0 5px,
                  -10px -10px 0 5px,
                  -10px -10px 0 5px;
    }
    8.33% {
      box-shadow: -10px -10px 0 5px,
                  10px -10px 0 5px,
                  10px -10px 0 5px,
                  10px -10px 0 5px;
    }
    16.66% {
      box-shadow: -10px -10px 0 5px,
                  10px -10px 0 5px,
                  10px 10px 0 5px,
                  10px 10px 0 5px;
    }
    24.99% {
      box-shadow: -10px -10px 0 5px,
                  10px -10px 0 5px,
                  10px 10px 0 5px,
                  -10px 10px 0 5px;
    }
    33.32% {
      box-shadow: -10px -10px 0 5px,
                  10px -10px 0 5px,
                  10px 10px 0 5px,
                  -10px -10px 0 5px;
    }
    41.65% {
      box-shadow: 10px -10px 0 5px,
                  10px -10px 0 5px,
                  10px 10px 0 5px,
                  10px -10px 0 5px;
    }
    49.98% {
      box-shadow: 10px 10px 0 5px,
                10px 10px 0 5px,
                10px 10px 0 5px,
                10px 10px 0 5px;
    }
    58.31% {
      box-shadow: -10px 10px 0 5px,
                  -10px 10px 0 5px,
                  10px 10px 0 5px,
                  -10px 10px 0 5px;
    }
    66.64% {
      box-shadow: -10px -10px 0 5px,
                  -10px -10px 0 5px,
                  10px 10px 0 5px,
                  -10px 10px 0 5px;
    }
    74.97% {
      box-shadow: -10px -10px 0 5px,
                  10px -10px 0 5px,
                  10px 10px 0 5px,
                  -10px 10px 0 5px;
    }
    83.3% {
      box-shadow: -10px -10px 0 5px,
                  10px 10px 0 5px,
                  10px 10px 0 5px,
                  -10px 10px 0 5px;
    }
    91.63% {
      box-shadow: -10px -10px 0 5px,
                  -10px 10px 0 5px,
                  -10px 10px 0 5px,
                  -10px 10px 0 5px;
    }
    100% {
      box-shadow: -10px -10px 0 5px,
                  -10px -10px 0 5px,
                  -10px -10px 0 5px,
                  -10px -10px 0 5px;
    }
  }

/* #endregion */

/*#region Back to Top button */

#backToTop {
    display: none;

    position: fixed;
    bottom: 80px;
    right: 20px;

    border-radius: 45%;

    background-color: var(--main-color-dark);
    background-image: url("../img/arrow-top.svg");
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 50px;

    cursor: pointer;

    transition: all 0.15s ease-in-out;
}

#backToBottom {
    display: none;

    position: fixed;
    bottom: 20px;
    right: 20px;

    border-radius: 45%;

    background-color: var(--main-color-dark);
    background-image: url("../img/arrow-bottom.svg");
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 50px;

    cursor: pointer;

    transition: all 0.15s ease-in-out;
}

#backToTop:hover, #backToBottom:hover {
    background-color: var(--main-color);
}

/*#endregion  */

/*#region Full Page Tabs */

.tab-link {
    background-color: #555;
    color: #fff;
    
    padding: 14px 16px;
    font-size: 18px;
    width: auto;

    cursor: pointer;
}

.tab-link:hover {
    background-color: #777;
}

.tab-sub-link {
    background-color: #eee;
    border: 1px solid #ccc;
    /* border-radius: 5px; */
    color: #333;
    
    padding: 5px 15px;
    margin: 5px 5px 0 0;
    font-size: 16px;
    width: auto;

    cursor: pointer;
}

.tab-sub-link:hover {
    background-color: #fff;
}

.tab-content {
    display: none;
    height: 100%;
}

/*#endregion */

/* #region Accordion */

.accordion {
    border-bottom: 1px solid #ccc;

    width: 100%;
    padding: 5px;

    transition: all 0.15s ease-in-out;
}

.accordion-active {
    background-color: #555;
    color: #eee;
}

.accordion:hover {
    background-color: #ccc;
    color: #333;
    cursor: pointer;
}

.panel {
    display: none;
    padding: 5px 0 10px;
}


/* #endregion */

/*#region Tree view with ul  */

ul {
    padding: 0 0 0 20px;
    list-style-type: none;
}

.caret {
    font-weight: bold;
    cursor: pointer;
}

.caret::before {
    content: "";
    background-image: url("../img/folder.svg");
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 16px;
}

.caret-down::before {
    content: "";
    background-image: url("../img/folder-open.svg");
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 16px;
}

.nested-tree {
    display: none;
}

.active-tree {
    display: block;
}

/*#endregion */

/*#region Form row  */
.side-nav-row {
    margin: 0 0 10px 0;
}

.form-row {
    position: relative;
    margin-bottom: 20px;
}
.form-row input, .form-row textarea {
    display: block;
    border-radius: 0;
    width: 100%;
    padding: 0 10px;
    line-height: 40px;
    font-family: 'PT Sans', sans-serif;
    background: none;
    border-width: 0;
    border-bottom: 2px solid #ccc;
    resize: vertical;
    transition: all 0.2s ease;
}
.form-row input:focus, .form-row textarea:focus {
    outline: none;
    border-color: var(--main-color);
}

.form-row input:focus + label, .form-row input:not(:placeholder-shown) + label,
.form-row textarea:focus + label, .form-row textarea:not(:placeholder-shown) + label {
    transform: translateY(-60px);
    margin-left: -14px;
    font-size: 12px;
    font-weight: 400;
    border-color: var(--main-color);
    color: var(--main-color);
}
.form-row label {
    position: absolute;
    left: 13px;
    color: var(--main-color-dark);
    font-size: 16px;
    font-weight: 300;
    transform: translateY(-35px);
    transition: all 0.2s ease;
}
/*#endregion */

/*#region Button */
.button-component {
    padding: 7px 12px;
    border: 1px solid #eee;
    border-radius: 5px;

    cursor: pointer;
    transition: all 0.15s ease-in-out;
}


.button-component:hover:not(:disabled) {
    color: var(--main-color);
    background-color: #eee;
    border: 1px solid #ccc;
}

.button-component:hover > a {
    color: var(--main-color);
}

.button-component-active {
    color: var(--main-color);
    background-color: #eee;
    border: 1px solid #ccc;
}

/*#endregion */

/* #region Text Block */

.text-block {
    background-color: #555;
    color: #fff;
    
    padding: 14px 16px;
    font-size: 18px;
    width: auto;
}

/* #endregion */

/* #region Search  */

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.search-row {
    display: flex;
    justify-content: right;
    width: 100%;
}
.search-col {
    width: 100%;
}

/* #endregion */

/* #region List  */

.list {
    padding: 0;
    margin: 0;

    max-height: 640px;

    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    overflow: auto;
}

.list li {
    padding: 5px 10px;
}

.list li > span {
    display: inline-block;
    width: 100%;
    padding: 5px 10px;
}

.list li:hover > span {
    width: 100%;
    color: #fefefe;
    background-color: var(--main-color);

    cursor: pointer;
}

.selected {
    width: 100%;
    color: #fefefe;
    background-color: var(--main-color);

    cursor: pointer;
}

/* #endregion */

/* #region Scrollbar */

/* ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
} */

/* width */
::-webkit-scrollbar {
    width: 15px;
}

select::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(242, 242, 242, 1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(135, 135, 135, 1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(84, 84, 84, 1);
}

/* #endregion */

/* #region Key value list */

.key-value-header {
    font-size: 1.1rem;
    background-color: #ccc;
}

.key-value-row, .key-value-header {
    display: flex;
    width: 100%;
    justify-content: space-between;

    padding: 5px 10px;
}

.key {
    width: 50%;
}

.value {
    width: 50%;
}

.key-value-row:hover {
    background-color: var(--main-color);
}

/* #endregion */

/* #region Table Basic */
.table-basic {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    width: 100%;
}

.table-basic th, .table-basic td {
    border: 1px solid #ccc;
    border-top: none;
    margin: 0;
    padding: 5px 10px;
}

.table-basic th {
    border: 1px solid #ccc;
}

.table-basic th:first-child {
    border-radius: 5px 0 0 0;
} 

.table-basic th:last-child {
    border-radius: 0 5px 0 0;
}

.table-basic tbody tr:hover {
    background-color: #eee;
    color: var(--basic-light);
}
/* #endregion */

/* #region Data Panel, Table */

.data-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.data-header {
    justify-content: start;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 0 0 10px 0;
}

.data-header .button-component {
    width: fit-content;
    margin: 0 0 5px 5px;
}

.data-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0 10px 0;
}

.data-row.data-header {
    justify-content: space-between;
    align-items: center;
}

.data-col {
    width: fit-content;
}

.data-footer {
}

.data-pagination {
    display: flex;
}

.data-pagination div {
    margin: 0 2.5px;
}

#title-table th, #title-table td {
    max-width: 640px;
}

/* #endregion */

/* #region File View */

.tool-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tool-row {
    display: flex;
    width: 100%;
    margin: 0 0 5px 0;

    justify-content: space-between;
}

.tool-col {
    display: flex;
}

.tool {
    display: flex;
    align-items: center;
    margin: 0 5px 0 0;
    width: fit-content;
}

.tool div {
    margin: 0 5px 0 0;
}

.active-tool {
    background-color: var(--main-color);
    color: #eee;
}

.tab-link-row {
    display: flex;
    justify-content: start;
    position: relative;
    width: 100%;
}

.tab-content-row {
    width: 100%;
}

/* #endregion */

/* #region RegEx Input */

.regex-color-text-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
}

.regex-color-text-col {
    margin: 10px;
}

.regex-param-title {
    margin: 0 0 5px 0;
}

.regex-param {
    display: flex;
    align-items: end;
    justify-content: end;
    text-wrap: nowrap;
    text-align: right;
}

.regex-param > .checkbox-row {
    margin: 0 0 5px 15px;
}

.regex-param-key {
    display: inline-block;
    color: var(--main-color-dark);
    font-weight: bold;
}

#regex-input-component {
    position: sticky;
    top: 0;
    background: #fff;
    padding: 10px 0 10px 0;
    border-bottom: 2px solid var(--main-color);

    z-index: 1;
}

#regex-input {
    font-size: 18px;
}

#regex-input:focus {
    box-shadow: 0px 10px 30px rgba(51, 255, 0, 0.3);
}



/* #endregion */

/* #region Checkbox */

.checkbox {
    display: inline-block;
    position: relative;
    padding-right: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkbox input:checked ~ .checkbox__checkmark {
    background-color: #fff;
}
.checkbox input:checked ~ .checkbox__checkmark:after {
    opacity: 1;
    left: 8px;
}
.checkbox input:checked ~ .checkbox__body {
    font-weight: bold;
}
.checkbox:hover input ~ .checkbox__checkmark {
    background-color: #eee;
}
.checkbox:hover input:checked ~ .checkbox__checkmark {
    background-color: #eee;
}
.checkbox .checkbox__checkmark {
    position: absolute;
    top: 1px;
    right: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
    transition: background-color 0.25s ease;
    border-radius: 4px;
}
.checkbox .checkbox__checkmark:after {
    content: "";
    position: absolute;
    left: 0px;
    top: 6px;
    width: 3px;
    height: 5px;
    border: solid var(--main-color);
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.25s ease, left 0.25s ease;
}
.checkbox .checkbox__body {
    color: #333;
    line-height: 1.4;
    font-size: 16px;
    transition: font-weight 0.25s ease;
}

/* #endregion */

/* #region  Other */

.accent {
    background-color: rgba(99, 176, 117, 0.5);
    width: fit-content;
    height: fit-content;
}

.sub-accent {
    background-color: rgba(99, 117, 176, 0.3);
    color: rgba(9, 17, 255, 1);
    width: fit-content;
    height: fit-content;
}

.nowrap-text {
    text-wrap: nowrap;
}

.highlight {
    padding: 2px;
    border: 1px solid #333;
    background-color: rgba(251, 255, 64, 0.9);
}

.highlight:hover {
    border: 1px solid #777;
    background-color: rgba(251, 255, 64, 0.3);

    cursor: pointer;
}

#format-tool::before {
    content: "";
    background-image: url("../img/format.svg");
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 24px;
    padding: 0;
    margin: 0 5px 0 0;
}

#word-color-tool::before {
    content: "";
    background-image: url("../img/palette-color.svg");
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 24px;
    padding: 0;
    margin: 0 5px 0 0;
}

#lemma-tool::before {
    content: "";
    background-image: url("../img/lemmatizate.svg");
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 24px;
    padding: 0;
    margin: 0 5px 0 0;
}

#regex-tool::before {
    content: "";
    background-image: url("../img/regex.svg");
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 24px;
    padding: 0;
    margin: 0 5px 0 0;
}

.sortable-asc {
    cursor: pointer;
}

.sortable-asc::after {
    content: "";
    background-image: url("../img/sort-ascending.svg");
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 24px;
    padding: 0;
    margin: 0 5px 0 5px;

    position: relative;
    bottom: -6px;
}

.sortable-asc:hover {
    background-color: #eee;
}

.sortable-asc:hover::after {
    filter: invert(0.5);
}

/* #endregion */


