
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}

footer .wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50px;

}
