header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--main-color-dark);
}

header .container {
    border: none;
}

header .wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* justify-content: right; */
    padding: 10px 0;
}

header .wrapper .button-component {
    background-color: var(--main-color);
    margin: 0 24px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-col {
    display: flex;
    align-items: center;
}

.logo {
    color: #fefefe;
    font-size: 24px;
}

.logo::before {
    content: "";
    background-image: url("../img/text-files.svg");
    display: inline-block;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: 22px;
    margin: 0 5px 0 0;
    filter: invert(1);
}