

.list li {
    display: inline-block;
    width: 100%;
    padding: 5px 10px;
}

.list li:hover {
    width: 100%;
    color: #fefefe;
    background-color: var(--main-color);

    cursor: pointer;
}

#all-words-list .key-value-row:hover {
    color: #eee;
    background-color: var(--main-color);
}

#lemma-list .key-value-row:hover {
    color: #eee;
    background-color: red;
} 


#unknown-list .key-value-row:hover {
    color: #eee;
    background-color: blue;
} 