/* PT Sans */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    /* Remove size impact from padding and border */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

/* #region General Styles */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-family: 'PT Sans', sans-serif;

    color: #333;
    background-color: #eee;

    padding: 0;
    margin: 0;
}

.container {
    border: 1px solid #ccc;
    max-width: 1440px;
    width: 100%;
}

.container:not(:last-child) {
    margin: 0 0 20px 0;
}

pre {
    /* width: 100%; */
    font-size: 18px;
    line-height: 22px;
    white-space: pre-line;
}

a {
    color: #fefefe;
    text-decoration: none;
}

/* #endregion */

/* #region Main tag */
main {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 100%;
    margin: 20px 0;
}

main .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
}
/* #endregion */

/* #region Content */

.content {
    width: 100%;
}

.content-row {
    display: flex;
    width: 100%;
}

.content-col {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.content-col:first-child {
    flex: 2;
    border-right: 1px solid #ccc;
    width: 30%;
}

.content-col:first-child .side-nav-row:last-child {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}

.content-col:last-child {
    display: flex;
    flex-direction: column;
    flex: 5;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: fit-content;
}

.content-col h3 {
    width: 100%;

    margin: 0;
    padding: 0;

}


#document-list-tree {
    padding: 0;
    margin: 0;

    max-height: 640px;

    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    overflow: auto;
}

#document-list-tree li:not(:has(span.caret)) {
    padding: 5px 10px;
}

#document-list-tree li > span {
    display: inline-block;
    width: 100%;
    padding: 5px 10px;
}

#document-list-tree li:hover > span {
    width: 100%;
    color: #fefefe;
    background-color: var(--main-color);

    cursor: pointer;
}

#document-list-tree li:not(:has(span.caret))::before {
    content: "";
    background-image: url("../img/file-blank.svg");
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 16px;
}

#document-list-tree li:not(:has(span.caret)):hover {
    color: #fefefe;
    background-color: var(--main-color);

    cursor: pointer;
}

/* #endregion */

select {
    border: none;

    appearance: 20px;
    -webkit-appearance: 20px;

    border-radius: 0;
    -webkit-border-radius: 0;

    transition: all .1s ease-in-out;
}

select option {
    border-radius: 0;
}

select:hover {
    background-color: #eee;
}
