
.data-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.data-header {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 0 0 10px 0;
}

.data-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0 10px 0;
}

.data-row.data-header {
    justify-content: space-between;
    align-items: center;
}

.data-col {
    width: fit-content;
}

#title-table th, #title-table td {
    max-width: 640px;
}