
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Вставка файла стилей с использованием Thymeleaf -->
    <link th:fragment="header" rel="stylesheet" th:href="@{/css/header.css}"/>
</head>
<body>
    <header th:fragment="header">
        <div th:class="'container'">
            <div th:class="'wrapper'">
                <div class="header-row">
                    <div class="header-col">
                        <div class="logo">DevDoc</div>
                    </div>
                    <div class="header-col">
                        <div th:class="button-component"><a href="/">Документы</a></div>
                        <div th:class="button-component"><a href="/statistic">Статистика документа</a></div>
                        <div th:class="button-component">Ключевые слова</div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>