<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Данные документа</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/components.css">
    
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/filedata.css">

</head>
<body>
    <header th:replace="~{/fragments/_header :: header}"></header>
    
    <div id="backToBottom"></div>

    <main>
        <div class="container">
            <div class="wrapper">
                <div th:replace="~{/fragments/components/_search :: file-search}"></div>
            </div>
        </div>

        <div class="container">
            <div class="wrapper">
                <div class="content-row">
                    <!-- Side panel -->
                    <div class="content-col">

                        <div class="side-nav-row">
                            <!-- Word statistic Tab Link Group -->
                            <div class="tab-link accordion">Статистика слов</div>
                            <div class="panel">
                                <div id="all-words-tab-link" class="tab-link" onclick="openTab('all-words', this, 'var(--main-color)')">Все слова: <span id="all-words-count">?</span></div>
                                <div id="lemma-tab-link" class="tab-link" onclick="openTab('lemmas', this, 'red')">Леммы: <span id="lemma-count">?</span></div>
                                <div id="unknown-tab-link" class="tab-link" onclick="openTab('unknown', this, 'blue')">Неизвестные леммы: <span id="unknown-count">?</span></div>
                            </div>

                            <!-- Data -->
                            <div class="tab-link accordion">Содержимое документа</div>
                            <div class="panel">
                                <div id="money-sum-tab-link" class="tab-link" onclick="openTab('money-sum', this, 'purple')">Денежные суммы: <span id="money-sum-count">?</span></div>
                            </div>
                        </div>

                        <div class="side-nav-row">
                            <!-- Word -->
                            <div id="all-words" class="tab-content">
                                <div class="key-value-header">
                                    <div class="key">Слово</div>
                                    <div class="value">Количество</div>
                                </div>
                                <div id="all-words-list" class="list"></div>
                            </div>

                            <!-- Lemma -->
                            <div id="lemmas" class="tab-content">
                                <div class="key-value-header" style="position: static;">
                                    <div class="key">Лемма</div>
                                    <div class="value">Количество</div>
                                </div>
                                <div id="lemma-list" class="list"></div>
                            </div>

                            <!-- Unknown -->
                            <div id="unknown" class="tab-content">
                                <div class="key-value-header">
                                    <div class="key">Слово</div>
                                    <div class="value">Количество</div>
                                </div>
                                <div id="unknown-list" class="list"></div>
                            </div>

                            <!-- Sum -->
                            <div id="money-sum" class="tab-content">
                                <div class="key-value-header">
                                    <div class="value">Сумма</div>
                                </div>
                                <div id="money-sum-list" class="list"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Main content panel -->
                    <div class="content-col">
                        <div th:replace="~{/fragments/components/_fileview :: file-view}"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <footer th:replace="~{/fragments/_footer :: footer}"></footer>

    <div id="backToTop"></div>

    <!-- JS -->
    <script src="/js/component.js"></script>
    <script src="/js/filedata.js" type="module"></script>
</body>
</html>