<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Документы</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/components.css">
    
    <link rel="stylesheet" href="/css/main.css">


</head>
<body>
    <header th:replace="~{/fragments/_header :: header}"></header>

    <div id="backToBottom"></div>


    <main>
        <div class="container">
            <div class="wrapper">
                <div th:replace="~{/fragments/components/_search :: file-search}"></div>
            </div>
        </div>

        <div class="container">
            <div class="wrapper">
                <div class="content">
                    <div class="content-row">
                        <div class="content-col">
                            <div class="side-nav-row">
                                <div id="defaultTab" class="tab-link" onclick="openTab('document-tree', this, '#777')">Список документов: <span id="doc-list-count">0</span></div>
                            </div>
                            <div class="side-nav-row">
                                <div id="document-tree" class="tab-content">
                                    <ul id="document-list-tree" class="list"></ul>
                                </div>
                            </div>
                        </div>

                        <div class="content-col">
                            <div th:replace="~{/fragments/components/_fileview :: file-view}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <footer th:replace="~{/fragments/_footer :: footer}"></footer>

    <div id="backToTop"></div>

    <!-- JS -->
    <script src="/js/component.js"></script>
    <script src="/js/main.js" type="module"></script>
</body>
</html>