<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>
    <header th:replace="~{_header :: header}"></header>


    <main>
        <div class="container">
            <div class="wrapper">
                <p>Spring + Thymeleaf</p>
                <p>Here will be document controller output:</p>
                <p id="api-data"></p>
            </div>
        </div>
    </main>


    <footer th:replace="~{_footer :: footer}"></footer>

    <!-- JS -->
    <script src="/js/main.js"></script>
</body>
</html>