<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/components.css">
    
    <link rel="stylesheet" href="/css/main.css">


</head>
<body>
    <header th:replace="~{_header :: header}"></header>


    <main>
        <div class="container">
            <div class="wrapper">
                <div class="search">
                    <div class="search">
                        <div class="search-row">
                            <div class="search-col">
                                <div class="form-row" style="width: 80%;">
                                    <input id="document-path" name="documentPath" type="text" placeholder="" onkeyup="saveValue(this)">
                                    <label for="documentPath">Путь</label>
                                </div>
                            </div>
                            <div class="search-col">
                                <div class="form-row" style="width: 80%;">
                                    <input id="document-name" name="documentName" type="text" placeholder="" onkeyup="saveValue(this)">
                                    <label for="documentName">Название</label>
                                </div>
                            </div>
                        </div>
                        <div class="search-row"><input id="document-open-text" class="button-component" type="submit" value="Открыть"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="wrapper">
                <div class="content">
                    <div class="content-row">
                        <div class="content-col">
                            <h3>Список документов</h3>
                            <ul id="document-list-tree"></ul>
                        </div>
                        <div class="content-col">
                            <h3 id="document-filename">Название файла</h3>
                            <pre id="document-text">Текст документа</pre>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </main>


    <footer th:replace="~{_footer :: footer}"></footer>

    <!-- JS -->
    <script src="/js/component.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>