<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/components.css">
    
    <link rel="stylesheet" href="/css/main.css">


</head>
<body>
    <header th:replace="~{_header :: header}"></header>


    <main>
        <div class="container">
            <div class="wrapper">
                тут тоже что-то будет
            </div>
        </div>

        <div class="container">
            <div class="wrapper">
                <p>Что то тут будет</p>
                <p>Какие-то типа графики</p>
                <p>В духе такого</p>

                <canvas id="test-chart"></canvas>

            </div>
        </div>
    </main>


    <footer th:replace="~{_footer :: footer}"></footer>

    <!-- JS Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.1/chartjs-plugin-zoom.min.js"></script>

    <!-- JS -->
    <script src="/js/component.js"></script>
    <script src="/js/statistic.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>