<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заголовки</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/components.css">
    
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header th:replace="~{/fragments/_header :: header}"></header>

    <div id="backToBottom"></div>

    <main>
        <div class="container">
            <div class="wrapper">

                <div class="data-panel">
                    <div class="data-row data-header">
                        <div class="data-col">
                            <h3>Данные по документам</h3>
                        </div>

                        <div class="data-col">
                            <div id="reload-table-button" class="button-component">Обновить</div>
                        </div>
                    </div>

                    <div class="data-row">
                        <table id="title-table" class="table-basic">
                            <thead>
                                <th class="sortable-asc" onclick="sortTable('title-table', 0)">№</th>
                                <th class="sortable-asc" onclick="sortTable('title-table', 1)">Заголовки</th>
                                <th class="sortable-asc" onclick="sortTable('title-table', 2)">Количество</th>
                                <th >Файлы</th>
                            </thead>
                            <tbody id="title-table-body">
                            </tbody>
                        </table>

                    </div>
                </div>
                <div id="title-table-preloader" class="data-row"></div>

            </div>
        </div>

    </main>

    <footer th:replace="~{/fragments/_footer :: footer}"></footer>

    <div id="backToTop"></div>

    <!-- JS -->
    <script src="/js/component.js"></script>
    <script src="/js/title.js" type="module"></script>
</body>
</html>