
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
    
    <th:block th:fragment="graph-view(graphContainerId, graphTitle, graphDescription)">
        <div class="graph-wrapper">
            <div class="graph-header">
                <h3>[[${graphTitle}]]</h3>
    
                <div class="graph-button-container">
                    <span class="button-component zoom-ico zoom-reset">Сброс масштаба</span>
                    <span class="button-component save-ico save-graph-as-svg">Сохранить SVG</span>
                    <!-- <span class="button-component position-reset">Статика / Симуляция</span> -->
                    <span class="button-component gravity-force-ico">
                        <span>Сила</span>
                        <select name="force-select" class="force-select">
                            <option value="attractionForce">Притяжение</option>
                            <option value="balanceForce" selected>Равновесие</option>
                            <option value="retractionForce">Отталкивание</option>
                            <option value="noForce">Статика</option>
                        </select>
                    </span>
                </div>
            </div>
            <p>[[${graphDescription}]]</p>

            <div th:id="${graphContainerId}" class="graph-container"></div>
        </div>

        <th:block th:replace="~{/arbitragestatistics/fragments/components/_modal :: 
            modal_fragment('graph-vertex-modal', 'graph-vertex-modal-content', 'Данные узла')}"></th:block>
    </th:block>

</body>
</html>