/*#region Form row  */

.form-row {
    position: relative;
    margin-bottom: 20px;
}
.form-row input, .form-row textarea {
    display: block;
    border-radius: 0;
    width: 100%;
    padding: 0 10px;
    line-height: 40px;
    font-family: 'PT Sans', sans-serif;
    background: none;
    border-width: 0;
    border-bottom: 1px solid #aaa;
    resize: vertical;
    transition: all 0.2s ease;
}
.form-row input:focus, .form-row textarea:focus {
    outline: none;
    border-color: #17c1e7;
}

.form-row input:focus + label, .form-row input:not(:placeholder-shown) + label,
.form-row textarea:focus + label, .form-row textarea:not(:placeholder-shown) + label {
    transform: translateY(-60px);
    /* margin-left: -14px; */
    font-size: 1rem;
    font-weight: 400;
    border-color: #17c1e7;
    color: #33889b;
}
.form-row label {
    position: absolute;
    /* left: 3px; */
    color: #2d7e91;
    font-size: 1rem;
    font-weight: 300;
    transform: translateY(-20px);
    transition: all 0.2s ease;
}
/*#endregion */

/* #region Button */
.button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;
    height: fit-content;
    /* min-width: 90px; */

    font-size: 1.1rem;

    padding: 9px 16px;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 5px 5px 25px -10px #aaa;

    cursor: pointer;

    transition: all 0.2s ease;
}

.button:hover {
    border: 1px solid #aaa;
}
/* #endregion */

/* #region Panel */
.panel {
    display: flex;
    justify-content: space-between;
    background: transparent;
    box-shadow: 5px 5px 25px -10px #aaa;
    width: 100%;

    padding: 10px 30px;
    /* margin: 0 0 10px 0; */
}

.inner-panel {
    background: transparent;
    box-shadow: inset 5px 5px 25px -10px #aaa;
    width: 100%;

    border-radius: 5px;

    padding: 10px 30px;
    margin: 0 0 10px;
}
/* #endregion */

/* #region Row  */

.row-sb {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* #region Icon */

.ico-save::before {
    content: "";
    background-image: url("../img/save.svg");
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 24px;
    padding: 0 0 -5px 0;
    margin: 0 5px 0 0;
}

.ico-code::before {
    content: "";
    background-image: url("../img/code.svg");
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 24px;
    padding: 0 0 -5px 0;
    margin: 0 5px 0 0;
}

.ico-edit::before {
    content: "";
    background-image: url("../img/edit-content.svg");
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 24px;
    padding: 0 0 -5px 0;
    margin: 0 5px 0 0;
}

.ico-view::before {
    content: "";
    background-image: url("../img/view-eye.svg");
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 24px;
    padding: 0 0 -5px 0;
    margin: 0 5px 0 0;
}

.ico-undo::before {
    content: "";
    background-image: url("../img/undo.svg");
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 24px;
    padding: 0 0 -5px 0;
    margin: 0 5px 0 0;
}

.ico-redo::before {
    content: "";
    background-image: url("../img/redo.svg");
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 24px;
    padding: 0 0 -5px 0;
    margin: 0 5px 0 0;
}
/* #endregion */