<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Граф разбора</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/arbitragestatistics/css/components.css">
    
    <link rel="stylesheet" href="/arbitragestatistics/css/main.css">
    <link rel="stylesheet" href="/arbitragestatistics/css/graph.css"/>
</head>
<body>
    <script th:inline="javascript">
        //#region Example MarkedGraph vertices and edges 
        
        let verticesMarkedExampleGraph = /*[[${verticesMarkedExampleGraph}]]*/ "{}";
        let verticesMarkedExampleGraphJson = JSON.parse(verticesMarkedExampleGraph);

        let edgesMarkedExampleGraph = /*[[${edgesMarkedExampleGraph}]]*/ "{}";
        let edgesMarkedExampleGraphJson = JSON.parse(edgesMarkedExampleGraph);

        //#endregion

        // #region MarkedGraph vertices and edges 
        let verticesMarkedGraph = /*[[${verticesMarkedGraph}]]*/ "{}";
        let verticesMarkedGraphJson = JSON.parse(verticesMarkedGraph);

        let edgesMarkedGraph = /*[[${edgesMarkedGraph}]]*/ "{}";
        let edgesMarkedGraphJson = JSON.parse(edgesMarkedGraph);
        //#endregion

        // #region cdpGraph vertices and edges 
        let verticesCdpGraph = /*[[${verticesCdpGraph}]]*/ "{}";
        let verticesCdpGraphJson = JSON.parse(verticesCdpGraph);

        let edgesCdpGraph = /*[[${edgesCdpGraph}]]*/ "{}";
        let edgesCdpGraphJson = JSON.parse(edgesCdpGraph);
        //#endregion
    </script>

    <header th:replace="~{/arbitragestatistics/fragments/_header :: header}"></header>

    <div id="backToBottom"></div>


    <main>
        <div class="container">
            <div class="wrapper">

                <th:block th:replace="~{/arbitragestatistics/fragments/components/_graphview :: 
                    graph-view('graph-cdp', 'Граф разбора истец и ответчик', '(ЛКМ - перетаскивание узлов; ПКМ - просмотр значений узла)')}">
                </th:block>

            </div>
        </div>
    </main>


    <footer th:replace="~{/arbitragestatistics/fragments/_footer :: footer}"></footer>

    <div id="backToTop"></div>

    <!-- JS Library -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- JS -->
    <script src="/arbitragestatistics/js/component.js"></script>
    <script src="/arbitragestatistics/js/main.js" type="module"></script>
    <script type="module" src="/arbitragestatistics/js/graph.js"></script>
</body>
</html>